body {
  font-family: 'Montserrat', sans-serif;
}

/* BACKGROUND CSS */

@media (max-width: 1409px) {
    #bg0 {
        display: none;
    }
}

@keyframes moveRight {
    from {left: -1000px;}
    to {left: calc(100% + 10px);}
}

@keyframes moveRight1 {
    from {left: -2000px;}
    to {left: calc(100% + 100px);}
}

/* #bg0 {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#bg00 {
    width: 100%;
    height: 220px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: gray;
} */

#bg1 {
    width: 100%;
    position: fixed;
    /* bottom: 100px; */
    bottom: -5px;
    right: 0px;
}

#bg2 {
    width: 100%;
    position: fixed;
    /* bottom: 100px; */
    bottom: -5px;
    right: 0px;
}

#cloud1 {
    width: 2000px;
    position: fixed;
    left: 0px;
    bottom: 100px;
    animation: moveRight1 30s linear infinite;
}

#cloud4 {
    width: 2000px;
    position: fixed;
    left: 0px;
    bottom: -200px;
    animation: moveRight1 60s linear infinite;
}

#cloud2 {
    width: 1000px;
    position: fixed;
    left: 0px;
    bottom: 400px;
    animation: moveRight 50s linear infinite;
}

#cloud3 {
    width: 1000px;
    position: fixed;
    left: 0px;
    bottom: 700px;
    animation: moveRight 70s linear infinite;
}

.weather {
    position: absolute;
    width: 100%;
}

/* MAIN INFO CSS */

#city {
    margin-left: calc(50% - 55px);
    margin-top: 50px;
    font-size: 40px;
}

/* HUMIDITY CHART CSS */

.humidity {
  margin-left: 100px;
}

.humidity p {
  margin-top: -100px;
  margin-left: 85px;
  position: absolute;
}

.humidity h2 {
  margin-top: -160px;
  margin-left: 85px;
  position: absolute;
  font-size: 40px;
}

/* DEVIDING LINE CSS */

#line {
  height: 215px;
  width: 0px;
  position: absolute;
  margin-top: -232px;
  margin-left: 380px;
  border-right: groove;
}

/* TEMPERATURE INFO CSS */

.temperature {
  position: absolute;
  margin-top: -270px;
  margin-left: 430px
}

.temperature h2 {
  font-size: 35px;
}

.temp {
  font-size: 18px;
  color: #b4b4b4;
}

#currenttemp {
  position: absolute;
  margin-left: 720px;
  margin-top: -250px;
  font-size: 80px;
}

#calsius {
    position: absolute;
    margin-left: 810px;
    margin-top: -220px;
    font-size: 40px;
}

/* SUNRISE/SUNSET INFO CSS */

.suninfo {
  margin-top: 50px;
  margin-bottom: 25px;
}

#sunrise {
  position: absolute;
  margin-top: -3px;
}

#sunset {
  margin-top: -40px;
  position: absolute;
  margin-left: 120px;
}

#sunriseinfo {
  margin-top: -28px;
  margin-left: 40px;
}

#sunsetinfo {
  margin-top: -38px;
  margin-left: 161px;
}

/* WIND INFO CSS */

.wind {
  margin-left: 720px;
  margin-top: -150px;
  color: #8f8f8f;
}

.wind p {
  position: absolute;
  margin-top: -26px;
  margin-left: 40px;
}

/* FORECAST CHART CSS */

.card {
  background-color: transparent;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.about {
  margin-bottom: -80px;
}

.legend--this {
  background-color: #80808045;
}

.axis {
  position: absolute;
  color: #fff;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  bottom: 0;
}

.axis .tick {
  flex: 1;
  position: relative;
  overflow: hidden;
  opacity: 0.2;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  padding-top: 150px;
}

.axis .tick:hover {
  opacity: 1;
  background-color: rgba(204, 204, 204, 0.103);
}

.axis .tick .value {
  transform: translateY(-40px);
  transition: 0.3s transform;
  position: absolute;
  top: 10px;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  line-height: 30px;
}

.axis .tick:hover .value.value--this {
  transform: translateY(0);
  display: block;
}